/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    padding: 18px 8%;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #575757;
}

/* Common Button */
.common-button {
    background-color: #1D4ED8;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}

/* Header */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/banner.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
}

/* Header Content */
.header-content {
    color: white;
    text-align: center;
    display: grid;
    gap: 20px;
    place-items: center;
}

.header-content p {
    max-width: 700px;
    line-height: 1.6;
}

.header-content .common-button {
    width: fit-content;
    padding: 15px 40px;
    font-size: 20px;
}

